
body { /* changing the background color of the bodu */
    background-color:rgb(127, 74, 74);

}

.header { /* header text*/
    text-align: center;
}


.navbar {
    display: flex;
    justify-content: space-around; /* Space between itemas */
    align-items: center;  /* Center items vertically */
    background: #222;
    padding: 1rem;
  }

.navbar a {
    color: white;
    text-decoration: none;
  
}

.Summary {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 equal columns (creates the grid) */
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.Summary text {
  grid-column: 2;   /* place the text in the second column */
  justify-content: right;  /* align the to text to the right */
}